@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body {
	margin-top: 80px;
}
    /************************* SIMPATICO BAR**********************************/

    #simp-bar {
        display: inline-table;
        z-index: 999;
        position: fixed;
        top:0;
        width: 100%;
        height: 52px;
        background-color: #009ee0 !important;
        font-family: 'Roboto Slab', sans-serif;
      }
  
      #simp-bar img {
          vertical-align: middle;
      }
  
      /* Private buttons container */
      #simp-bar-container-left {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
      }
  
      /* Login button container */
      #simp-bar-container-right {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        float: right;
        font-size: 20px;
      }
      /* Toolbar divs and containers */
      #simp-bar div, #simp-bar ul {
        display: inline-block;
        margin-top: 4px;
        margin-bottom: 0;
      }
  
      #simpatico-bar-copy{
        font-size: 20px;
        padding: 10px;
      }
      /* Generic style for all the buttons */
      #simp-bar li {
          border: 1px solid transparent;
          display: inline-block;
          margin-right: 15px;
      }
  
      /* Personalised style for buttons */
  
      /* >>> QAE Button */
      .simp-bar-btn-inactive {
        background-color: transparent;
        border: 0px solid #fff;
      }
      .simp-bar-btn-inactive:hover {
          background-color: #24BCDA;
          border: 1px solid #fff;
          animation-name: anim-inactive-hover;
          animation-duration: 1s;
      }
      @keyframes anim-inactive-hover {
        from {background-color: transparent;}
        to {background-color: #24BCDA;}
      }
      .simp-bar-btn-active {
        background-color: #24BCDA;
        border: 1px solid #fff;
      }
      /* <<< QAE Button */
  
      /* >>> TAE Button */
      .simp-bar-btn-inactive-tae {
        background-color: transparent;
        border: 0px solid #fff;
      }
      .simp-bar-btn-inactive-tae:hover {
          background-color: #DE453E;
          border: 1px solid #fff;
          animation-name: anim-inactive-hover-tae;
          animation-duration: 1s;
      }
      @keyframes anim-inactive-hover-tae {
        from {background-color: transparent;}
        to {background-color: #DE453E;}
      }
      .simp-bar-btn-active-tae {
        background-color: #DE453E;
        border: 1px solid #fff;
      }
      /* <<< TAE Button */
  
      /*****************************************************************************/

/********************* Citizenpedia questions box Styles *********************/

/* Main question box class */
.simp-ctz-ui-qb {
	border-left: thick solid #24BCDA !important;
	border-top: : thick solid #24BCDA !important;
	background-color: #D3F2F8 !important;
}
/* Title of a question box */
.simp-ctz-ui-qb p {
font-weight: bold;
	margin-left: 0px !important;
	margin-right: : 0px !important;
	color: #D3F2F8 !important;
	background-color: #24BCDA !important;
}
/* Each question in a question list */
.simp-ctz-ui-qb li {
	padding-left: 10px !important;
}
.simp-ctz-ui-qb a {
	text-decoration: none;
}

/*****************************************************************************/

/************************* CDV styles**********************************/
    .ui-dialog {
        position: fixed !important;
    } 
	
	.no-close .ui-dialog-titlebar-close {
        display: none;
    }
	/* Personalised style for active buttons cdv */
    .simp-bar-btn-active-cdv {
      background-color: #379E4C;
      border: 1px solid #fff;
    }
	
		
	/************************* **********************************/

/************************* WAE styles**********************************/
	/* Personalised style for active buttons cdv */
    .simp-bar-btn-active-wae {
      background-color: #379E4C;
      border: 1px solid #fff;
    }


	/************************* **********************************/